<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>About Onco.com</h6>
                <ul>
                    <li>
                        <a routerLink="">About Us</a>
                    </li>
                    <li>
                        <a routerLink="">Our Doctors</a>
                    </li>
                    <li>
                        <a routerLink="">Career</a>
                    </li>
                    <li>
                        <a routerLink="">Press</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h6>Help</h6>
                <ul>
                    <li>
                        <a routerLink="">FAQ</a>
                    </li>
                    <li>
                        <a routerLink="">Privacy Policy</a>
                    </li>
                    <li>
                        <a routerLink="">Pricing</a>
                    </li>
                    <li>
                        <a routerLink="">T&C</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h6>Miscellaneous</h6>
                <ul>
                    <li>
                        <a routerLink="">Cancer Blog</a>
                    </li>
                    <li>
                        <a routerLink="">Answer a Question</a>
                    </li>
                    <li>
                        <a routerLink="">World Cancer Day</a>
                    </li>
                    <li>
                        <a routerLink="">For Oncologists</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h6>Find Us</h6>
                <p><small>Netdox Health Private Limited, 2nd Floor, 154, Workshala Spaces, Teacher's Colony, Jakkasandra, 1st Block, Koramangala, Bangalore, Karnataka, 56003</small></p>
                <p><a href="tel:+91 88844 55789">+91 88844 55789</a></p>
                <p><a href="mailto:cases@onco.com">cases@onco.com</a></p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-9">
                <h6>Copyright (c) 2020 Netdox Health Pvt. Ltd.</h6>
            </div>
            <div class="col-3">
                <a routerLink="" class="mr-4"><img src="assets/img/f-facebook.png" alt="The icon for Facebook" class="oc-top-translate"></a>
                <a routerLink="" class="mr-4"><img src="assets/img/f-twitter.png" alt="The icon for Twitter" class="oc-top-translate"></a>
                <a routerLink=""><img src="assets/img/f-linkedin.png" alt="The icon for Linkedin" class="oc-top-translate"></a>
            </div>
        </div>
    </div>
</footer>